
#os {
    position: relative;
    font: 13px Consolas, monospace;
}

#os > div {
    position: absolute;
}

/* Console */

#osConsole {
    top: 0;
    left: 0;
    width: 480px;
    height: 500px;
    cursor: text;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.4s;
}

#osConsole .input {
    padding: 7.5px 0;
    color: #8E8E8E;
}

#osConsole .output {
    padding: 2.5px 10px;
    white-space: pre-wrap;
}

#osConsoleInput {
    padding: 7.5px 0;
}

#osConsoleInput span {
    outline: none;
}

.osConsoleCaret {
    opacity: 0;
}

.osButton {
    width: 24px;
    height: 24px;
}

.osButtonSmall {
    margin: 2px;
    width: 18px;
    height: 18px;
}

.osButton,
.osButtonSmall {
    background-size: 100% 100%;
    cursor: pointer;
    opacity: 0.5;
}

.osButton:hover,
.osButtonSmall:hover {
    opacity: 1;
}

.osButtonRefresh { background-image: url(../images/button-refresh.png); }
.osButtonExpand { background-image: url(../images/button-plus.png); }
.osButtonRestore { background-image: url(../images/button-minus.png); }
.osButtonAutoscroll { background-image: url(../images/button-autoscroll.png); }
.osButtonStep { background-image: url(../images/button-step.png); }
.osButtonPlay { background-image: url(../images/button-play.png); }

/* Status Bar */

#osStatusBar {
    left: 500px;
    width: 500px;
    text-align: right;
}

#osStatusBar > div {
    float: left;
}

#osButtonPower { background-image: url(../images/button-power.png); }
#osButtonHalt { background-image: url(../images/button-halt.png); }
#osButtonRestart { background-image: url(../images/button-restart.png); }

#osStatus {
    float: left;
    margin: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    transition: all 0.4s;
}

#osStatus.operating { background-color: #7AFF4D; }
#osStatus.shutdown { background-color: #FF4D4D; }

#osTime {
    float: right !important;
    opacity: 0;
    transition: opacity 0.4s;
}

/* log */

#osLog {
    left: 500px;
    top: 34px;
    width: 500px;
    height: 150px;
    white-space: nowrap;
}

/* CPU */

#osCpuDisplay {
    left: 500px;
    top: 194px;
    width: 65px;
    height: 90px;
    opacity: 0;
    transition: opacity 0.4s;
}

#osCpuDisplay > div {
    font-size: 11pt;
}

#osCpuDisplay .regTitle {
    float: left;
    width: 50%;
    opacity: 0.6;
    text-align: center;
}

#osCpuDisplay .regValue {
    float: right;
    width: 50%;
    text-align: right;
}

/* Options */
#osOptions {
    left: 500px;
    top: 294px;
    width: 67px;
    height: 93px;
}

#osOptions > .checkbox {
    margin-bottom: 5px;
    width: 100%;
}

#osOptions > div {
    margin: auto;
}

/* Memory */

#osMemoryDisplayContainer {
    top: 194px;
    left: 572px;
    width: 210px;
    height: 195px;
}

#osMemoryDisplay {
    width: 100%;
    white-space: pre;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
}

/* Hard Drive */

#osHardDriveDisplayContainer {
    top: 194px;
    left: 788px;
    width: 212px;
    height: 195px;
    background-color: #141414;
    transition: all 0.4s;
}

#osHardDriveDisplayContainer.expanded {
    left: 54px;
    top: 0;
    width: 955px;
    height: 400px;
    box-shadow: 0 0 10px 10px #141414;
    z-index: 1;
}

#osHardDroveDisplayScroller {
    height: 100%;
}

#osHardDriveDisplay {
    width: 100%;
    white-space: pre;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
}

#osHardDriveDisplay .block {
    position: relative;
    padding: 0 2px;
    width: 955px;
    border-radius: 5px;
}

#osHardDriveDisplay .block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: border-color 0.2s;
}

#osHardDriveDisplay .block:hover:after {
    border-color: #4D7AFF;
}

#osHardDriveDisplay .linked:after {
    border-color: #4DFFFF;
}

#osHardDriveDataViewer {
    padding-right: 3px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 100%;
    background-color: #141414;
    box-shadow: 0 0 10px 10px #141414;
    transition: all 0.2s;
}

.expanded #osHardDriveDataViewer {
    left: auto;
    right: 0;
    top: 100%;
    bottom: auto;
}

#osHardDriveDataViewer.visible {
    opacity: 1;
}

#osHardDriveDataViewer th {
    padding: 2px;
    opacity: 0.6;
    font-weight: normal;
}

#osHardDriveDataViewer td {
    padding: 2px 5px;
    text-align: center;
}

#osHardDriveOptions {
    position: absolute;
    top: 0;
    right: -24px;
    width: 22px;
    opacity: 0;
    background-color: #141414;
    transition: opacity 0.4s;
}

#osHardDriveDisplayContainer:hover #osHardDriveOptions {
    opacity: 1;
}

.osMemoryDisplaySeparator,
.osHardDriveDisplaySeparator {
    margin: 7px 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(224, 244, 244, 0.05), rgba(224, 244, 244, 1), rgba(224, 244, 244, 0.05));
}

/* Processes */
#osProcessesContainer {
    left: 500px;
    top: 399px;
    width: 280px;
    height: 100px;
    transition: opacity 0.4s;
}

#osProcesses {
    width: 100%;
}

#osProcesses th {
    padding: 2px;
    opacity: 0.6;
    font-weight: normal;
}

#osProcesses tr td:first-of-type {
    width: 60px;
}

#osProcesses td {
    padding: 2px;
    text-align: center;
}

/* Program Input */
#osProgramInputContainer {
    left: 788px;
    top: 399px;
    width: 212px;
    height: 100px;
    transition: opacity 0.4s;
}

#osProgramInput {
    width: 100%;
    min-height: 100%;
    outline: none;
}
